* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}

/* Start Home Page */

/* Start Navbar */

.navbar .navbar-brand {
  font-size: 45px;
  font-weight: 900;
}

.navbar .bar-icon {
  font-size: 24px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.login-btn {
  margin-left: 1rem;
}

@media (max-width: 992px) {
  .login-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .switch-mode {
    margin: 1rem;
  }
}

.switch-mode i {
  cursor: pointer;
}
/* End Navbar */

/* Start Landing */

.landing {
  padding-top: 60px;
  /* padding-bottom: 60px; */
}

.landing .info h1 {
  font-size: 100px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .landing .info h1 {
    font-size: 80px;
  }
}

.landing .info p {
  font-size: 18px;
  color: #777;
}

@media (max-width: 640px) {
  .landing .info h1 {
    font-size: 50px;
  }
  .landing .info p {
    font-size: 16px;
  }
}

/* End Landing */

/* Start Articls */

.articls {
  padding-top: 30px;
  /* padding-bottom: 30px; */
}

.articls .item {
  border-bottom: 1px solid #777;
}

.articls .item span:first-child {
  color: #333;
  font-size: 24px;
}

.articls .item span:last-child {
  color: #777;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.articls .item:hover span:last-child {
  color: #333;
}

@media (max-width: 768px) {
  .articls .item span:first-child {
    font-size: 18px;
  }
  .articls .item span:last-child {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .articls .item {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

/* End Articls */

/* End Home Page */

/* Start Login Page */

.login-form {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .login-form {
    width: 300px;
  }
}

/* End Login Page */

/* Start Footer */

footer div {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 576px) {
  footer div {
    font-size: 18px;
  }
}

/* End Footer */

/* Start Home Page At Dark-Mode */

body.dark-mode {
  background-color: #171717;
}

nav.dark-mode {
  color: #f5f5f5;
}

nav.dark-mode .navbar-brand {
  color: white;
}

nav.dark-mode .navbar-toggler {
  border-color: white;
}

nav.dark-mode .bar-icon {
  color: white;
}

nav.dark-mode ul a.active {
  color: white !important;
}

nav.dark-mode ul a {
  color: #a3a3a3;
}

nav.dark-mode ul a:hover {
  color: white;
}

nav.dark-mode .login-btn {
  background-color: white;
  color: black;
}

.landing.dark-mode h1 {
  color: white;
}

.articls.dark-mode a span:first-child {
  color: white;
}

.articls.dark-mode a:hover span:last-child {
  color: white;
}

footer.dark-mode div {
  color: white;
}

/* End Home Page At Dark-Mode */

/* Start article Compunant */

.art .head-of-art .tags {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.art .head-of-art .tags a {
  display: inline-block;
  background-color: #d4d4d4;
  border-radius: 25px;
  font-size: 15px;
}

.art .head-of-art h1 {
  font-size: 60px;
  font-weight: bold;
}

.art .head-of-art .date-and-auther,
.art .head-of-art .describtion {
  font-size: 20px;
  color: #777;
}

.art .head-of-art .date-and-auther .name {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.art .head-of-art .date-and-auther .name:hover {
  color: #171717;
}

.art.dark-mode .head-of-art .date-and-auther .name:hover {
  color: #d4d4d4;
}
@media (max-width: 768px) {
  .art .head-of-art .tags {
    flex-direction: column;
  }
  .art .head-of-art .tags a {
    width: fit-content;
  }
  .art .head-of-art .tags a:first-of-type {
    margin-bottom: 10px;
  }
  .art .head-of-art h1 {
    font-size: 35px;
  }
  .art .head-of-art .date-and-auther {
    font-size: 19px;
  }
}

.art .info p {
  font-size: 22px;
  line-height: 1.9;
  margin-bottom: 35px;
}

.art .info p.before-ul {
  margin-bottom: 10px;
}

.art .info p span,
.art .info ul li span,
.art .info h2 span {
  color: #dc3545;
}

.art .info h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.art .info h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 40px;
}

.art .info .image {
  text-align: center;
  margin-bottom: 40px;
}

.art .info img {
  width: 800px;
  max-width: 100%;
}

.art .info .code pre {
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.art .info .code {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.art .info .code code {
  display: flex;
  flex-direction: column;
  color: #000;
  width: fit-content;
}

.art .info ul {
  margin-bottom: 40px;
}

.art .info ul li {
  font-size: 22px;
  line-height: 1.8;
}

.art .info ul li {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .art .info h2 {
    font-size: 32px;
  }
  .art .info p {
    font-size: 19px;
    line-height: 1.6;
  }
  .art .info h3 {
    font-size: 22px;
  }
  .art .info ul li {
    font-size: 19px;
  }
}

/* End article Compunant */

/* Start Articles Pages At Dark-Mode */

.art.dark-mode .head-of-art .tags a {
  background-color: #404040;
}

.art.dark-mode .head-of-art h1,
.art.dark-mode .info h2,
.art.dark-mode .info h3 {
  color: white;
}

.art.dark-mode .head-of-art .tags a,
.art.dark-mode .info p,
.art.dark-mode .info ul li {
  color: #d4d4d4;
}

.art.dark-mode .info .code code span {
  color: white;
}

/* End Articles Pages At Dark-Mode */

/* Start Articles pages compunant*/
.customstyle {
  background-color: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}
.customsp {
  font-size: 98%;
}
.image-container {
  width: 100%;
  max-width: 100vw;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-width: 100%;
}
/* End article Compunant */

/* Start Articles Pages At Dark-Mode */
.art.dark-mode .head-of-art .tags a {
  background-color: #404040;
}

.art.dark-mode .head-of-art h1,
.art.dark-mode .info h2,
.art.dark-mode .info h4 {
  color: white;
}

.art.dark-mode .head-of-art .tags li,
.art.dark-mode .info p {
  color: #d4d4d4;
}
/* End Articles Pages At Dark-Mode */
